.gif-container{
    padding-left:10%;
    h1 {    
        color:#f1f0fa;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }   
    .gif{
        border-radius: 10px;
        width:30%;
    }
}

